@import './../config/_index.scss';

.content {

    h1,
    h2,
    h3 {
        font-family: $headingFontStack;
    }

    margin-top: 3rem;
    margin-bottom: 3rem;
    &__heading {
        position: relative;
        z-index: 1;
        margin-bottom: 5rem;
        text-align: center;
        font-size: 2.5rem;

        &:after {
            content: "";
            width: 3rem;
            height: 5px;
            background: $color3;
            top: calc(100% + .5rem);
            left: 50%;
            transform: translateX(-50%);
            display: block;
            position: absolute;
        }
    }

    &__form {
        .btn[type="submit"] {
            border-color: $color3;
            background-color: $color3;
            border-radius: 2px;

            &:hover,
            &:active,
            &:focus {
                border-color: darken($color3, 10%);
                background-color: darken($color3, 10%);
            }
        }

        input.form-control,
        textarea.form-control {
            border-color: #ccc;
            border-radius: 2px;
            outline: 0;
            box-shadow: none;
            padding: .5rem 1rem;
            font-family: $bodyFontStack;
            &:focus {
                border-color: $color1;
            }
        }
    }

    .featured {
        margin-bottom: 4rem;
    }

    .faq {
        max-width: 800px;
    }

    .faq .lead {
        padding-bottom: 1rem;
        border-bottom: 1px solid #ccc;
    }

    .contact-callout {
        background-image: url('/static/img/contact.jpg');
        background-size: cover;
        background-position: center;
        min-height: 500px;

        @media only screen and (max-width: 991px) {
            display: none!important;
        }
    }


}