@import './../config/_index.scss';

.content {

    margin-top: 3rem;
    margin-bottom: 3rem;

    h1,
    h2,
    h3 {
        font-family: $headingFontStack;
    }

    &__heading {
        position: relative;
        z-index: 1;
        margin-bottom: 3rem;
        text-align: center;
        font-size: 2.5rem;

        &:after {
            content: "";
            width: 80px;
            height: 5px;
            background: $black;
            top: calc(100% + .5rem);
            left: 50%;
            transform: translateX(-50%);
            display: block;
            position: absolute;
        }
    }

    &__form {
        .btn[type="submit"] {
            border-color: $color3;
            background-color: $color3;
            border-radius: 2px;

            &:hover,
            &:active,
            &:focus {
                border-color: darken($color3, 10%);
                background-color: darken($color3, 10%);
            }
        }

        input.form-control,
        textarea.form-control {
            border-color: #ccc;
            border-radius: 2px;
            outline: 0;
            box-shadow: none;
            padding: .5rem 1rem;
            font-family: $bodyFontStack;
            &:focus {
                border-color: $color1;
            }
        }
    }

    .featured {
        margin-bottom: 4rem;

        h1,
        h2,
        h3 {
            position: relative;
            z-index: 1;
            margin-bottom: 2rem;
            color: $color1;
            &:after {
                content: "";
                position: absolute;
                top: calc(100% + 0.5rem);
                height: 5px;
                width: 55px;
                background: $color1;
                left: 0;
                display: block;
            }
        }

    }

    .faq {
        max-width: 800px;
    }

    .faq .lead {
        padding-bottom: 1rem;
        border-bottom: 1px solid #ccc;
    }

    .contact-callout {
        background-image: linear-gradient(rgba($color1, .3), rgba($black, .4)), url('/static/img/contact.jpg');
        background-size: cover;
        background-position: center;
        min-height: 500px;

        @media only screen and (max-width: 991px) {
            display: none!important;
        }
    }

    .contact-message {
        text-align: center;
        @media only screen and (max-width: 767px) {
            text-align: left;
        }
    }


}